// colors
$black: #000;
$white: #fff;
$gradient: linear-gradient(
  268.3deg,
  #00fff9 -4.34%,
  #00c5ff 13.53%,
  #0078ff 93.71%
);

$linkColor: #3772ff;
$darkWhite:rgba(255, 255, 255 , .7);
$blue:#1DA1F2;



$bgColor: var(--bgColor);
$textColor: var(--textColor);
$iconColor: var(--iconColor);
$iconbg: var(--iconbg);
$langColor: var(--langColor);
$pColor: var(--pColor);
$arrowbg: var(--arrowbg);
$arrowColor: var(--arrowColor);
$tabBg: var(--tabBg);
$tabheadBg: var(--tabheadBg);
$tabActiveBg: var(--tabActiveBg);
$tabActive: var(--tabActive);
$tabLine: var(--tabLine);
$tickColor: var(--tickColor);
$donateBorder: var(--donateBorder);
$donateDashed: var(--donateDashed);
$teamArrow: var(--teamArrow);
$teamArrow2: var(--teamArrow2);
$socialBg: var(--socialBg);
$faqOuterBg: var(--faqOuterBg);
$faqBg: var(--faqBg);
$faqBorder: var(--faqBorder);
$line: var(--line);
$timer: var(--timer);
$heroBg: var(--heroBg);
$scrollBg: var(--scrollBg);
$scrollThumb: var(--scrollThumb);
$scrollThumbHover: var(--scrollThumbHover);
$closeBtn: var(--closeBtn);
$techspecsText: var(--techspecsText);
$faqNFTBg: var(--faqNFTBg);
$faqNFTActive: var(--faqNFTActive);
$faqNFTBorder: var(--faqNFTBorder);
$pExtraColor: var(--pExtraColor);
$feesBorder: var(--feesBorder);
$feesColor: var(--feesColor);
$feesItenBg: var(--feesItenBg);
$feesPColor: var(--feesPColor);
$aquaItem: var(--aquaItem);
$aquaNumber: var(--aquaNumber);
$check: var(--check);
$stakinBg: var(--stakinBg);
$selectBg: var(--selectBg);
$selectHover: var(--selectHover);


html[data-theme |=light] {
    --bgColor: #fff;
    --textColor: #0D0F15;
    --iconColor: #6E6E73;
    --iconbg: #DDE8F4;
    --langColor: #0D0F15;
    --pColor: #22252A;
    --arrowbg: #D7D7DF;
    --arrowColor: #6E6E73;
    --tabBg: #F6F9FC;
    --tabheadBg: #E8F0F7;
    --tabActiveBg: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --tabActive: #fff;
    --tabLine: transparent;
    --tickColor: #fff;
    --donateBorder: #EFEFF0;
    --donateDashed: #6E6E7380;
    --teamArrow: #DEDEE2;
    --teamArrow2: #0D0F15;
    --socialBg: #0D0F15;
    --faqBg: #0D0F15;
    --faqBorder: transparent;
    --faqOuterBg: #fff;
    --line: #EEEEF1;
    --timer: #0D0F15;
    --scrollBg: #d4d4d4;
    --scrollThumb: rgba(0, 0, 0, 0.3);
    --scrollThumbHover: rgba(0, 0, 0, 0.4);
    --closeBtn: #0D0D0D;
    --techspecsText: #707A83;
    --faqNFTBg: #f6f9fc;
    --faqNFTActive: #0d0f15;
    --faqNFTBorder: transparent;
    --pExtraColor: #505763;
    --feesBorder: #E2E2E3;
    --feesColor: #3D3F44;
    --feesItenBg: #F6F9FC;
    --feesPColor: #6e6f73;
    --aquaItem: #e8eef4;
    --aquaNumber: #c0c8d9;
    --check: #6E6E73;
    --stakinBg: linear-gradient(116.97deg, #3D6585 20.34%, #fff 120%);
    --heroBg: #fff;
    --selectBg: #E4EDF6;
    --selectHover: #F4F7FB;

}

html[data-theme |=dark] {
    --bgColor: #06070A;
    --textColor: #fff;
    --iconColor: #fff;
    --iconbg: #131823;
    --langColor: #F4F4F4CC;
    --pColor: #F6F9FC;
    --arrowbg: #131823;
    --arrowColor: #F6F9FC;
    --tabBg: #131823;
    --tabheadBg: #1B2232;
    --tabActiveBg: #131823;
    --tabActive: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --tabLine: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --tickColor: #070707;
    --donateBorder: #191D24;
    --donateDashed: #17A8FA;
    --teamArrow: #06070A;
    --teamArrow2: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --bgSection: #0D0F15;
    --socialBg: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --faqBg: #0F1219;
    --faqBorder: #2B364F;
    --faqOuterBg: #131823;
    --line: #06070A;
    --timer: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --scrollBg: #525252;
    --scrollThumb: rgba(255, 255, 255, 0.3);
    --scrollThumbHover: rgba(255, 255, 255, 0.4);
    --closeBtn: #fff;
    --techspecsText: rgba(255, 255, 255, 0.7);
    --faqNFTBg: #06070A;
    --faqNFTActive: #0F1219;
    --faqNFTBorder: linear-gradient(268.3deg, #00FFF9 -4.34%, #00C5FF 13.53%, #0078FF 93.71%);
    --pExtraColor:rgba(255, 255, 255 , .7);
    --feesBorder: #505763;
    --feesColor: #cdcdce;
    --feesItenBg: #0F1219;
    --feesPColor: #828384;
    --aquaItem: #0e121a;
    --aquaNumber: #131823;
    --check: #6E6E73;
    --stakinBg: linear-gradient(116.97deg, #3D6585 18.34%, #000000 80%);
    --heroBg: #010103;
    --selectBg: #1F2738;
    --selectHover: #283248;
}
// fonts
$graphik: "Graphik", sans-serif;
$sfDisplay: "sfDisplay", sans-serif;
$sfText: "sfText", sans-serif;

$mainFont: 'Neue June', sans-serif;
$bicubik: 'Bicubik', sans-serif;

// new
$darkBlue: #566875;
$darkPurple: #6A8FD7;
$lightBlue: #00C2FF;

$abel: 'Abel', sans-serif;
