.pool {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-content {
      width: calc(43% - 40px);
    }

    &-video {
      width: calc(57% - 40px);

      padding-bottom: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    h3 {
      font-weight: 600;
      font-family: $sfDisplay;
      letter-spacing: -0.02em;
      background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 24px;
    }
  }
}

// 1024px
@mixin pool-lg-xlg {
  .pool {
    &__inner {
      &-video {
        width: calc(57% - 16px);
      }

      &-content {
        width: calc(43% - 16px);
      }

      h3 {
        margin-bottom: 14px;
      }
    }
  }
}

// 930px
@mixin pool-md-lg {
  .pool {}
}

// 750px
@mixin pool-sm-md {
  .pool {
    position: relative;

    .auto__container {
      padding: 0;
    }

    &__inner {
      &-video {
        padding-bottom: 80%;
        width: 100%;
        min-height: 590px;
      }

      &-content {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 20px;
        left: 20px;
      }

      h3 {
        font-size: 48px;
        line-height: 48px;
        -webkit-text-fill-color: unset;
        background: transparent;
        color: $white;
        margin-bottom: 8px;
      }

      h5 {
        letter-spacing: -0.02em;
        opacity: .8;

        &.extra {
          font-size: 16px;
          line-height: 22px;

        }

        br {
          display: none;
        }
      }
    }
  }
}

// 540px
@mixin pool-xsm-sm {
  .pool {}
}

// 440px
@mixin pool-xxsm-xsm {
  .pool {
    &__inner {}
  }
}

.benefits {
  padding: 180px 0;

  &__inner {
    &-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 -8px;
    }

    &-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      z-index: -1;
      max-height: 900px;

      img {
        width: 100%;
      }
    }

    h1 {
      margin-bottom: 250px;
      font-family: $sfDisplay;
      letter-spacing: -0.02em;
      font-weight: 700;
      background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      span {
        background: $textColor;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    &>h4 {
      margin-bottom: 44px;
      letter-spacing: -0.02em;
    }
  }

  &Item {
    width: calc(25% - 16px);
    margin: 0 8px;
    max-width: 276px;
    border-radius: 20px;
    background-color: $tabBg;
    padding: 36px 36px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 310px;

    &:nth-child(2) {
      margin-top: 20%;
    }

    &:nth-child(3) {
      margin-top: 20%;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      margin-bottom: 24px;

      img {
        width: 100%;
      }
    }

    h4 {
      margin-bottom: 12px;
      font-weight: 600;
      font-family: $sfDisplay;
      letter-spacing: -0.02em;
background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      letter-spacing: -0.02em;
      margin-bottom: 10px;
    }

    p {
      letter-spacing: -0.02em;
      font-weight: 400;
    }
  }
}

// 1180px
@mixin benefits-xlg-xxlg {
  .benefits {
    padding: 140px 0;

    &__inner {
      h1 {
        margin-bottom: 220px;
      }

      &>h4 {
        margin-bottom: 30px;
      }
    }

    &Item {
      padding: 24px 24px 20px;
      min-height: 250px;

      &__icon {
        width: 44px;
        height: 44px;
        margin-bottom: 20px;
      }

      h4 {
        margin-bottom: 10px;
      }
    }
  }
}

// 1024px
@mixin benefits-lg-xlg {
  .benefits {
    padding: 110px 0;

    &__inner {
      &-row {
        margin: 0 -5px;
      }

      h1 {
        margin-bottom: 200px;
      }

      &>h4 {
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 27px;

      }
    }

    &Item {
      padding: 20px 18px;
      width: calc(25% - 10px);
      margin: 0 5px;
      border-radius: 15px;
      min-height: 222px;

      &__icon {
        width: 38px;
        height: 38px;
        margin-bottom: 14px;
      }

      h4 {
        margin-bottom: 8px;
      }
    }
  }
}

// 930px
@mixin benefits-md-lg {
  .benefits {
    padding: 80px 0;

    &Item {
      justify-content: space-between;

      p {
        &.sm {
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
  }
}

// 750px
@mixin benefits-sm-md {
  .benefits {
    padding: 60px 0;

    &__inner {
      &-row {
        flex-wrap: wrap;
        margin: 0 -10px;
        align-items: stretch;
      }

      &>h4 {
        margin-bottom: 15px;
      }
    }

    &Item {
      width: calc(50% - 20px);
      margin: 0 10px;
      max-width: unset;
      min-height: unset;

      &:nth-child(n) {
        margin: 10px;
      }
    }
  }
}

// 540px
@mixin benefits-xsm-sm {
  .benefits {

    &__inner {
      display: flex;
      flex-direction: column;

      &-row {
        margin: 0;
        justify-content: center;
      }

      &-bg {
        width: 100%;
        position: unset;
        transform: translateY(-40px);
        order: -1;
      }


      h1 {
        font-size: 42px;
        line-height: 50px;
        margin: 0;
        order: -2;
      }

      &>h4 {
        margin-bottom: 24px;
        text-align: center;
      }
    }

    &Item {
      width: 100%;
      padding: 36px 40px 32px;

      &:nth-child(n) {
        margin: 0 0 24px 0;
        width: 85%;
      }

      &:last-child {
        margin: 0;
      }

      &__icon {
        margin-bottom: 30px;
        width: 56px;
        height: 56px;
      }

      h4 {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 30px;

        br {
          display: none;
        }
      }

      p {
        &.sm {
          font-size: 15px;
          line-height: 19px;
          font-weight: 400;
        }
      }
    }
  }
}

// 390px
@mixin benefits-xxxsm-xxsm {
  .benefits {
    &__inner {}

    &Item {
      &:nth-child(n) {
        width: 100%;
        max-width: 276px;
      }
    }
  }
}


.tax {
  padding: 160px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
      margin-bottom: 80px;
      text-align: center;

      h3 {
        br {
          display: none;
        }
      }

      h6 {
        br {
          display: none;
        }
      }
    }

    &-row {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &-content {
      width: 40%;
      max-width: 280px;
      margin-top: 140px;

      &-equation {
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;

          &:nth-child(2) {
            display: none;
          }
        }
      }

      h4 {
        margin-bottom: 64px;
        font-weight: 600;
        font-family: $sfDisplay;
        letter-spacing: -0.02em;
        background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        letter-spacing: -0.02em;
      }
    }

    &-image {
      width: 60%;
      max-width: 710px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    &-text {
      width: 100%;
      margin: 160px 0 190px;
      padding: 80px 30px;
      border-radius: 20px;
      background-color: $tabBg;

      p {
        width: 85%;
        max-width: 880px;
        text-align: center;
        margin: 0 auto;
        opacity: 0.8;
        font-weight: 500;
      }
    }

    &-pool {
      width: 100%;
      padding: 84px 30px;
      border-radius: 20px;
      background-color: $bgColor;
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 3px);
        height: calc(100% + 3px);
        border-radius: 20px;
        background: $gradient;
        content: "";
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      h4 {
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
        font-family: $graphik;
        font-weight: 600;
        color: $textColor;
        -webkit-text-fill-color: unset;
        background: transparent;
        transform: translate(-50%, -50%);
        padding: 0 26px;
        background: $bgColor;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 46px;
          height: 46px;
          margin-right: 10px;

          img {
            width: 100%;
          }
        }

        strong {
          background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          margin-right: 6px;
        }

        br {
          display: none;
        }
      }

      p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        max-width: 990px;
        font-size: 22px;
        line-height: 36px;
        font-family: $sfDisplay;
        font-weight: 400;
        color: $langColor;

        br {
          display: none;
        }
      }
    }

    a {
      position: relative;

      &::after {
        position: absolute;
        background: $gradient;
        bottom: -2px;
        width: 100%;
        height: 1px;
        left: 0;
        content: "";
      }

      strong {
        font-family: $sfText;
        font-weight: 500;
        background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    h3 {
      margin-bottom: 18px;
      font-weight: 600;
      font-family: $sfDisplay;
      letter-spacing: -0.02em;
background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    h6 {
      font-weight: 600;
      font-family: $sfDisplay;
    }
  }
}

// 1180px
@mixin tax-xlg-xxlg {
  .tax {
    padding: 140px 0;

    &__inner {
      &-text {
        margin: 140px 0 160px;
      }

      &-pool {
        padding: 60px 30px 50px;

        p {
          width: 95%;
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
  }
}

// 1024px
@mixin tax-lg-xlg {
  .tax {
    padding: 110px 0;

    &__inner {
      &-header {
        margin-bottom: 50px;
      }

      &-content {
        margin-top: 110px;

        &-equation {
          width: 100px;
        }

        h4 {
          margin-bottom: 45px;
        }
      }

      &-row {
        margin-bottom: 40px;
      }

      &-text {
        margin: 110px 0 130px;
        padding: 60px 30px;
      }

      &-pool {
        padding: 50px 20px 40px;

        p {
          font-size: 18px;
          line-height: 27px;
        }
      }

      h3 {
        margin-bottom: 12px;
      }
    }
  }
}

// 930px
@mixin tax-md-lg {
  .tax {
    padding: 80px 0;

    &__inner {
      &-text {
        margin: 80px 0 95px;
        padding: 50px 20px;

        p {
          width: 90%;
        }
      }

      &-pool {
        padding: 45px 20px 35px;

        p {
          font-size: 16px;
          line-height: 24px;
        }

        h4 {
          padding: 0 18px;
          justify-content: center;
          white-space: nowrap;

          span {
            width: 40px;
            height: 40px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}

// 750px
@mixin tax-sm-md {
  .tax {
    padding: 60px 0;

    &__inner {
      &-header {
        margin-bottom: 30px;
      }

      &-content {
        margin-top: 60px;

        &-equation {
          width: 80px;
        }

        h4 {
          margin-bottom: 30px;
        }
      }

      &-row {
        margin-bottom: 30px;
      }

      &-text {
        margin: 60px 0 80px;
        padding: 40px 30px;

        p {
          width: 100%;
        }
      }

      &-pool {
        padding: 36px 20px 26px;
        border-radius: 15px;

        &::before {
          border-radius: 15px;
        }

        p {
          width: 100%;
          font-size: 15px;
          line-height: 24px;
        }
      }

      h3 {
        margin-bottom: 8px;
      }
    }
  }
}

// 540px
@mixin tax-xsm-sm {
  .tax {
    &__inner {
      &-content {
        margin-top: 40px;

        &-equation {
          width: 65px;
        }

        h4 {
          margin-bottom: 20px;
        }
      }

      &-row {
        margin-bottom: 20px;
      }

      &-text {
        margin: 40px 0 50px;
        padding: 24px 20px;
        border-radius: 12px;
      }

      &-pool {
        padding: 30px 20px 20px;
        border-radius: 15px;

        &::before {
          border-radius: 15px;
        }

        h4 {
          padding: 0 12px;

          span {
            width: 32px;
            height: 32px;
          }
        }

        p {
          font-size: 14px;
          line-height: 22px;
        }
      }

      h6 {
        &.big {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}

// 440px
@mixin tax-xxsm-xsm {
  .tax {
    &__inner {
      &-header {
        margin: 0 0 36px;

        h3 {
          margin-bottom: 12px;

          br {
            display: block;
          }
        }

        h6 {
          br {
            display: block;
          }

          &.big {
            font-weight: 500;
          }
        }
      }

      &-row {
        flex-direction: column;
        align-items: center;
      }


      &-content {
        width: 100%;
        margin: 0 0 26px 0;
        max-width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-equation {
          img {
            &:nth-child(1) {
              display: none;
            }

            &:nth-child(2) {
              display: block;
            }
          }
        }

        h4 {
          margin-bottom: 26px;
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: -0.02em;
        }
      }

      &-image {
        width: 100%;
        max-width: 370px;
        margin-bottom: 40px;

      }

      a {
        font-weight: 500;
        line-height: 19.5px;
        font-size: 15px;
        font-style: $sfDisplay;
      }

      &-text {
        padding: 58px 18px;
        border-radius: 20px;
        margin: 60px 0 90px;

        p {
          font-size: 15px;
          line-height: 24px;
          font-family: $sfDisplay;
          font-weight: 500;

        }
      }

      &-pool {
        padding: 131px 19px 28px;
        border-radius: 12px;

        &::before {
          border-radius: 12px;
        }

        h4 {
          padding: 0 12px;
          font-size: 18px;
          line-height: 24px;
          display: block;
          line-height: 36px;
          font-size: 30px;
          background: none;
          transform: translate(-50%, -23%);

          span {
            width: 79px;
            height: 48px;
            padding: 0 18px;
            background: $bgColor;
            margin: 0 auto 12px;
          }

          br {
            display: block;
          }
        }

        p {
          font-size: 15px;
          line-height: 19px;
          font-weight: 500;
          font-family: $sfDisplay;

          br {
            display: block;
          }
        }
      }

      h3 {
        margin-bottom: 4px;
      }

      h6 {
        &.big {
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
  }
}

.examples {
  &__inner {
    padding: 160px 0;
    max-width: 945px;
    margin: 0 auto;

    &-main {
      margin-bottom: 40px;
    }
  }

  &Info {
    padding: 48px;
    background: $tabBg;
    border-radius: 20px;
    margin: 0 auto 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    margin-bottom: 80px;
    text-align: center;
  }

  h5 {
    opacity: 0.8;
    margin-bottom: 18px;

    &.extra {
      font-size: 24px;
      line-height: 30px;
    }
  }

  p {
    opacity: 0.8;
    padding-left: 48px;
  }

  ul {
    li {
      opacity: 0.8;
      padding-left: 32px;
      position: relative;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
      font-weight: 400;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        background-color: $textColor;
        opacity: 0.8;
        left: 15px;
        top: 10px;
        border-radius: 50%;
        pointer-events: none;
      }
    }
  }

  &.big {
    .examples {
      &__inner {
        max-width: unset;
        padding: 0;

        &-main {
          margin: 0;
        }
      }

      &Info {
        margin: 0;
        border-radius: 20px;
        background: $tabBg;
        padding: 65px;
      }
    }

    ul {
      li {
        margin-bottom: 28px;
        padding-left: 44px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          width: 24px;
          height: 2px;
          background: $gradient;
          position: absolute;
          left: 0;
          top: 12px;
        }
      }
    }

    h3 {
      margin-bottom: 60px;
    }
  }
}

// 1180px
@mixin examples-xlg-xxlg {
  .examples {
    &__inner {
      padding: 120px 0;
    }

    h3 {
      margin-bottom: 60px;
    }

    &Info {
      padding: 40px;
      border-radius: 18px;
    }

    &.big {
      .examples {
        &Info {
          padding: 50px;
        }
      }

      h3 {
        margin-bottom: 40px;
      }
    }
  }
}

// 1024px
@mixin examples-lg-xlg {
  .examples {
    &__inner {
      padding: 80px 0;
    }

    h3 {
      margin-bottom: 40px;
    }

    &Info {
      padding: 35px;
      border-radius: 16px;
      margin-bottom: 30px;
    }

    h5 {
      &.extra {
        font-size: 22px;
        line-height: 28px;
      }
    }

    ul {
      li {
        font-size: 17px;
        line-height: 24px;
        padding-left: 28px;

        &::before {
          top: 8px;
          left: 10px;
        }
      }
    }

    &.big {
      .examples {
        &Info {
          padding: 40px;
          border-radius: 15px;
        }
      }

      ul {
        li {
          padding-left: 38px;
          margin-bottom: 20px;

          &::before {
            width: 20px;
          }
        }
      }
    }
  }
}

// 750px
@mixin examples-sm-md {
  .examples {
    &__inner {
      padding: 60px 0;

      &-main {
        margin-bottom: 30px;
      }
    }

    &Info {
      padding: 27px;
      border-radius: 12px;
      margin-bottom: 25px;
    }

    h5 {
      margin-bottom: 12px;

      &.extra {
        font-size: 20px;
        line-height: 26px;
      }
    }

    ul {
      li {
        font-size: 16px;
        line-height: 22px;
      }
    }

    p {
      padding-left: 0;
      text-align: center;
    }

    &.big {
      .examples {
        &Info {
          padding: 30px;
          border-radius: 15px;
        }
      }

      h3 {
        margin-bottom: 30px;
      }

      ul {
        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}

// 540px
@mixin examples-xsm-sm {
  .examples {
    h3 {
      margin-bottom: 36px;
    }

    &Info {
      padding: 24px 20px;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    h5 {
      &.extra {
        background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        opacity: 0.8;
        font-size: 18px;
        line-height: 24px;
      }
    }

    ul {
      li {
        font-size: 15px;
        font-weight: 400;
        line-height: 222.5px;
        line-height: 22px;
        padding-left: 20px;
        margin-bottom: 10px;
        letter-spacing: -0.02em;

        &::before {
          top: 8px;
          left: 5px;
          width: 5px;
          height: 5px;
        }
      }
    }

    p {
      text-align: left;
      font-family: $sfDisplay;
      font-weight: 500;
    }

    &.big {
      .examples {
        &__inner {
          padding: 60px 18px;
          background: $tabBg;
          border-radius: 10px;
        }

        &Info {
          padding: 0;
        }
      }

      h3 {
        margin-bottom: 36px;
      }

      ul {
        li {
          padding-left: 24px;
          margin-bottom: 18px;
          font-size: 15px;
          line-height: 19.5px;
          font-weight: 400;
          letter-spacing: -0.02em;

          &::before {
            width: 12px;
            height: 2px;
          }
        }
      }
    }
  }
}

// 390px
@mixin examples-xxxsm-xxsm {
  .examples {
    &__inner {
      &-main {
        margin-bottom: 20px;
      }
    }

    h5 {
      margin-bottom: 5px;

      &.extra {
        font-size: 16px;
        line-height: 22px;
      }
    }

    ul {
      li {
        padding-left: 15px;

        &::before {
          left: 5px;
          height: 4px;
          width: 4px;
        }
      }
    }

  }
}


.emergency {
  &__inner {
    &-text {
      margin-bottom: 80px;

      p {
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
        opacity: 0.8;
      }
    }
  }

  &Item {
    padding: 85px 72px;
    background: linear-gradient(0deg, #131823, #131823), #d9d9d9;
    border-radius: 24px;
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }

    &__image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
    }

    p {
      max-width: 468px;
      margin: 0 auto;
      opacity: 0.8;
      text-align: center;
      font-weight: 400;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 36px;

    br {
      display: none;
    }
  }

  h5 {
    background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.8;
    margin-bottom: 18px;
    display: inline-block;
    text-align: center;
  }
}

// 1180px
@mixin emergency-xlg-xxlg {
  .emergency {
    &__inner {
      &-text {
        margin-bottom: 60px;
      }
    }

    h3 {
      margin-bottom: 30px;
    }

    &Item {
      margin-bottom: 70px;
      padding: 60px;
      border-radius: 20px;
    }
  }
}

// 930px
@mixin emergency-md-lg {
  .emergency {
    &__inner {
      &-text {
        margin-bottom: 40px;
      }
    }

    h3 {
      margin-bottom: 20px;
    }

    &Item {
      margin-bottom: 45px;
      padding: 40px;
      border-radius: 15px;

      &__info {
        margin-bottom: 40px;
      }
    }
  }
}

// 650px
@mixin emergency-sm-md-extra {
  .emergency {
    &__inner {
      &-text {
        margin-bottom: 30px;
      }
    }

    &Item {
      margin-bottom: 30px;
      padding: 20px;
      border-radius: 12px;

      &__info {
        margin-bottom: 30px;
      }
    }

    h5 {
      margin-bottom: 18px;
    }
  }
}

// 440px
@mixin emergency-xxsm-xsm {
  .emergency {
    &__inner {
      &-text {
        margin-bottom: 15px;
      }
    }

    h3 {
      margin-bottom: 24px;
      font-weight: 600;

      br {
        display: block;
      }
    }

    p {
      &.big {
        margin-bottom: 60px;
        font-size: 15px;
        line-height: 19.5px;
        letter-spacing: -0.02em;
        font-weight: 400;
      }

      &.sm {
        font-weight: 500;
        font-family: $sfDisplay;
      }
    }

    h5 {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
    }

    &Item {
      margin-bottom: 24px;
      padding: 36px 20px 39px;
      border-radius: 20px;

      &__info {
        margin-bottom: 20px;
      }

      &__image {
        width: calc(100% + 20px);
        margin: 0 -10px;
      }
    }
  }
}

.rewards {
  &__inner {
    &-title {
      margin-bottom: 80px;
      text-align: center;
    }

    &-main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 160px;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 462px;
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    h3 {
      margin-bottom: 24px;
    }

    h5 {
      font-family: $sfDisplay;
      opacity: 0.7;
      margin-bottom: 28px;
      font-weight: 400;

      &.extra {
        font-weight: 600;
        opacity: 0.8;
        font-family: $sfText;
        margin-bottom: 0;
      }

      &.sm {
        font-family: $sfText;
        opacity: 0.8;
        font-family: $sfText;
        margin-bottom: 0;
        line-height: 30px;
      }
    }

    h4 {
      &.sm {
        background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        letter-spacing: -0.02em;
        font-weight: 600;
        font-family: $sfDisplay;
        margin-bottom: 28px;
      }
    }

    p {
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      opacity: 0.8;
    }
  }

  &Info {
    padding: 72px 56px 75px;
    border-radius: 20px;
    background: $tabBg;
    width: calc(50% - 12px);
  }

  &.sm {
    .rewards {
      &__inner {
        padding: 160px 0;

        &-main {
          margin-bottom: 0;
        }
      }
    }
  }
}

.steps {
  margin-bottom: 115px;

  &.second {
    margin-bottom: 0;

    .steps {
      &__inner {
        &-col {
          align-items: flex-start;
        }

        &-image {
          margin: 0 0 0 -5%;
        }
      }

      &Item {
        &:nth-child(2) {
          align-self: flex-end;
        }
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-col {
      width: calc(50% - 10px);
      max-width: 590px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-image {
      width: calc(55% - 10px);
      max-width: 685px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -5%;

      img {
        width: 100%;
      }
    }
  }

  &Item {
    padding: 30px;
    border-radius: 30px;
    background-color: $tabBg;
    position: relative;
    width: 80%;
    max-width: 480px;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      align-self: flex-start;
    }

    &__arrow {
      position: absolute;
      top: calc(100% - 5px);
      right: 50%;
      width: 25%;
      max-width: 112px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      &.right {
        right: unset;
        left: 50%;
      }

      img {
        width: 100%;
      }
    }

    h5 {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 16px;
      font-weight: 600;
      font-family: $sfDisplay;
background: linear-gradient(267.38deg, #FFFFFF 32.65%, #3BB0F1 102.28%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    p {
      font-size: 22px;
      line-height: 27px;
      font-weight: 500;
      font-family: $sfDisplay;
      opacity: .8;

      a {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

// 1380px
@mixin steps-xxxlg-xxxxlg {
  .steps {
    &.second {
      .steps__inner {
        &-image {
          margin: 0;
        }
      }
    }
    &__inner {
      &-col {
        width: calc(50% - 5px);
      }

      &-image {
        margin: 0;
        width: calc(50% - 5px);
      }
    }

    &Item {
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}

// 1180px
@mixin steps-xlg-xxlg {
  .steps {
    margin-bottom: 90px;
    &Item {
      margin-bottom: 40px;
      padding: 20px;
      border-radius: 20px;
      h5 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}

// 1024px
@mixin steps-lg-xlg {
  .steps {}
}

// 930px
@mixin steps-md-lg {
  .steps {
    margin-bottom: 70px;
    &__inner {
      &-image {
        img {
          width: 110%;
        }
      }
    }
    &Item {
      margin-bottom: 30px;
      padding: 18px;
      h5 {
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 24px;
      }
      p {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}

// 750px
@mixin steps-sm-md {
  .steps {
    &.second {
      .steps__inner {
        &-image {
          margin-bottom: 30px;
        }
      }
    }
    &__inner {
      flex-direction: column;
      align-items: center;
      &-col {
        width: 100%;
        max-width: unset;
      }
      &-image {
        width: 100%;
        order: -1;
        margin-bottom: 30px;
        max-width: 540px;
        img {
          width: 100%;
        }
      }
    }
    &Item {
      margin-bottom: 44px;
      padding: 24px;
      h5 {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 29px;
      }
      p {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}

// 540px
@mixin steps-xsm-sm {
  .steps {
    margin-bottom: 50px;
    &Item {
      padding: 20px;
      width: 90%;
      h5 {
        margin-bottom: 10px;
      }
    }
  }
}

// 440px
@mixin steps-xxsm-xsm {
  .steps {
    margin-bottom: 30px;
    &Item {
      padding: 20px;
      width: 93%;
      margin-bottom: 34px;
      h5 {
        margin-bottom: 6px;
      }
      p {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }
}

// 390px
@mixin steps-xxxsm-xxsm {
  .steps {}
}