.faq {
  background: $faqOuterBg;

  &__inner {
    padding: 140px 0;
    transition: padding 0.2s ease;

    @include inLightMode {
      padding: 0px 0 140px 0;
    }

    &-main {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &Item {
    margin-bottom: 24px;
    border: 1px solid $faqBorder;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &__header {
      padding: 30px;
      background-color: $tabBg;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      @include transition;

      h6 {
        &.big {
          font-family: $sfDisplay;
          width: calc(100% - 50px);
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 10px;

        svg {
          width: 100%;
          height: 100%;
          fill: transparent;
          stroke: #cbcbcd;
        }
      }

      &.active {
        background-color: $faqBg;
        border-radius: 10px 10px 0 0;

        h6 {
          color: $white;
        }

        span {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__content {
      padding: 0 30px 0;
      max-height: 0;
      opacity: 0;
      pointer-events: none;
      @include transition;
      background-color: $faqBg;
      border-radius: 0 0 10px 10px;

      p {
        &.sm {
          font-weight: 400;
          opacity: 0.7;
          line-height: 22px;
          color: $darkWhite;
        }

        a {
          text-decoration: underline;
          color: $darkWhite;

        }
      }

      &.active {
        max-height: 500px;
        opacity: 1;
        pointer-events: all;
        padding: 0 30px 30px;
      }
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 55px;
    font-family: $sfDisplay;
  }

  h2 {
    margin-bottom: 42px;
    text-align: start;
    font-weight: 600;
  }

  &.big {
    background-color: unset;
    border: unset;

    .faq {
      &__inner {
        padding: 160px 0;

        @include inLightMode {
          padding: 160px 0 160px 0;
        }
      }

      &Item {
        border: unset;
        position: relative;

        @include inDarkMode {
          background: $faqNFTActive;

        }

        &::before {
          content: "";
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          background: $faqNFTBorder;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 10px;
          pointer-events: none;
          z-index: -1;
          transform: translate(-50%, -50%);
        }

        &__header {
          background: $faqNFTBg;

          &.active {
            background: $faqNFTActive;
          }
        }

        &__content {
          background: $faqNFTActive;
          transition: .3s ease;
        }
      }
    }
  }
}

.faq2 {
  padding-bottom: 110px;
  margin-top: -40px;
  position: relative;
  &__bg {
    position: absolute;
    width: 90%;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateY(60%);
    z-index: 0;
    pointer-events: none;

    img {
      width: 100%;
    }
  }

  &__inner {
    &-main {
      width: 100%;
    }

    h2 {
      margin-bottom: 42px;
      text-align: start;
      font-weight: 600;
    }

    p {
      font-size: 25px;
      line-height: 28px;
    }
  }

  &Item {
    border-bottom: 0.6px solid rgba($color: #fff, $alpha: .2);
    margin-bottom: 16px;

    span {
      border: 1px solid rgba($color: #00B2FF, $alpha: .3);
      border-radius: 15px;
      padding: 15px 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 50px;

      img {
        transition: .3s ease;
        width: 30px;
        height: 30px;
      }
    }

    &__header {
      padding: 0 0 16px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include transition;

      &.active {
        span {
          img {
            transform: rotate(45deg);
          }
        }
      }
    }

    &__content {
      padding: 0 130px 0;
      max-height: 0;
      opacity: 0;
      pointer-events: none;
      transition: .4s ease;

      p {
        opacity: 0.7;

        a {
          text-decoration: underline;
          color: $darkWhite;
        }
      }

      &.active {
        max-height: 500px;
        opacity: 1;
        pointer-events: all;
        padding: 10px 50px 30px 130px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      border: unset;
    }
  }
}

// 1180px
@mixin faq-xlg-xxlg {
  .faq {
    &__inner {
      padding: 120px 0;

      @include inLightMode {
        padding: 0px 0 110px 0;
      }
    }

    h3 {
      margin-bottom: 45px;
    }

    &.big {
      .faq {
        &__inner {
          padding: 120px 0;

          @include inLightMode {
            padding: 120px 0;
          }
        }
      }
    }
  }

  .faq2 {
    margin-top: 0;
    padding-bottom: 90px;
    &__inner {
      p {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &Item {
      &__content {
        padding: 0 100px 0;

        &.active {
          padding: 5px 30px 30px 100px;
        }
      }

      span {
        padding: 13px 20px;
        border-radius: 12px;
        margin-right: 30px;

        img {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

// 1024px
@mixin faq-lg-xlg {
  .faq {
    &__inner {
      padding: 90px 0;

      @include inLightMode {
        padding: 0px 0 90px 0;
      }
    }

    &.big {
      .faq {
        &__inner {
          padding: 90px 0;

          @include inLightMode {
            padding: 90px 0;
          }
        }
      }
    }
  }

  .faq2 {
    padding-bottom: 80px;
    &__inner {
      p {
        font-size: 17px;
        line-height: 22px;
      }
    }
  }
}
// 840px
@mixin faq-md-lg-extra {
  .faq2 {
    padding-bottom: 70px;
    &__bg {
      display: flex;
    }
    &__inner {
      h2 {
        margin-bottom: 30px;
      }
      p {
        font-size: 14px;
        line-height: 17px;
      }
    }
    &Item {
      margin-bottom: 10px;
      border-bottom: 0.4px solid rgba($color: #fff, $alpha: .2);
      &__header {
        padding-bottom: 10px;
      }
      &__content {
        padding: 0 80px 0;

        &.active {
          padding: 5px 10px 30px 80px;
        }
      }
      span {
        padding: 10px 16px;
        border-radius: 9px;
        margin-right: 30px;
        img {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}
// 750px
@mixin faq-sm-md {
  .faq {
    &__inner {
      padding: 70px 0;

      @include inLightMode {
        padding: 0px 0 60px 0;
      }
    }

    h3 {
      margin-bottom: 36px;
    }

    &Item {
      margin-bottom: 20px;

      &__header {
        padding: 25px;

        h6 {
          &.big {
            font-size: 18px;
            line-height: 24px;
          }
        }

        span {
          width: 16px;
          height: 16px;
        }
      }

      &__content {
        p {
          &.sm {
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }

    &.big {
      .faq {
        &__inner {
          padding: 70px 0;

          @include inLightMode {
            padding: 70px 0;
          }
        }
      }
    }
  }
}
// 650px
@mixin faq-sm-md-extra {
  .faq2 {
    &__inner {
      h2 {
        margin-bottom: 24px;
      }
      p {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &Item {
      &__content {
        padding: 0 60px 0;
        &.active {
          padding: 0 0 20px 60px;
        }
      }
      span {
        padding: 7px 12px;
        border-radius: 7px;
        margin-right: 18px;
        img {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}
// 540px
@mixin faq-xsm-sm {
  .faq {
    &__inner {
      padding: 60px 0;

      @include inLightMode {
        padding: 0px 0 30px 0;
      }
    }

    &Item {
      margin-bottom: 15px;

      &__header {
        padding: 16px 20px;

        h6 {
          &.big {
            width: calc(100% - 40px);
            font-size: 17px;
            line-height: 22px;
            font-family: $sfDisplay;
          }
        }

        span {
          width: 15px;
          height: 15px;
          right: 24px;
        }
      }

      &__content {
        padding: 0 20px;

        &.active {
          padding: 11px 20px 20px;

        }
      }
    }

    &.big {
      .faq {
        &__inner {
          padding: 50px 0;

          @include inLightMode {
            padding: 50px 0;
          }
        }
      }
    }
  }
  .faq2 {
    &__bg {
      display: none;
    }
  }
}
// 440px
@mixin faq-xxsm-xsm {
  .faq2 {
    padding-bottom: 50px;
    &__inner {
      h2 {
        margin-bottom: 20px;
      }
      p {
        font-size: 9px;
        line-height: 13px;
      }
    }
    &Item {
      border-bottom: 0.1px solid rgba($color: #fff, $alpha: .1);
      &__header {
        padding-bottom: 8px;
      }
      &__content {
        padding: 0 46px 0;
        &.active {
          padding: 0 0 15px 46px;
        }
      }
      span {
        padding: 6px 10px;
        border-radius: 6px;
        margin-right: 12px;
        img {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}
// 390px
@mixin faq-xxxsm-xxsm {
  .faq {
    &__inner {
      @include inLightMode {
        padding: 0;
      }

      &.big {
        .faq {
          &__inner {
            padding: 40px 0;

            @include inLightMode {
              padding: 40px 0;
            }
          }
        }
      }
    }

    &Item {
      &__header {
        h6 {
          &.big {
            font-size: 15px;
            line-height: 19.5px;
            font-weight: 500;
            width: calc(100% - 30px);
            letter-spacing: -0.02em;
          }
        }

        span {
          width: 10px;
          height: 10px;
        }
      }

      &__content {
        p {
          &.sm {
            font-size: 14px;
            line-height: 15px;
            letter-spacing: -0.02em;
          }
        }


      }
    }
  }
}